/* font-family: 'Permanent Marker', cursive; */

.flex {
    display :flex;
    flex-wrap: wrap;
    width : 310px;
    margin: auto;
    position: relative;

}

.cell {
    width : 100px;
    height: 100px;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-align: center;
    
}

#center {
    border: 2px solid #000; 
}

.deux-huit {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.left-right{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

#game-score {
    display : flex;
    flex-direction: column;  
    align-items: center;
}

#winner {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top : 200px;
    left : 530px;
    display: none;
}

